/* Stylesheet for 404 page */

#navbar {
	margin-top: -100px;
}

#mainbody {
	max-width: 750px;
	min-width: 300px;
	margin: 97px auto 32px auto;
	padding: 20px 70px 20px 70px;
}

#mainbox {
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid #aaaaaa;
	border-radius: 16px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
	padding: 20px 70px 20px 70px;
	position: relative;
}

#mainboxicon {
	width: 50%;
	height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
	z-index: 1;
}

h1, p {
	color: #aaaaaa;
	text-align: center;
}

#errortitle {
	color: #FF0000;
	opacity: 0.5;
}
