/* General stylesheet for Christopher Kyle Horton's website */

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf);
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/ubuntu-font-family-0.83/Ubuntu-RI.ttf);
	font-style: italic;
}

@font-face {
	font-family: Ubuntu Light;
	src: url(../fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf);
}

@font-face {
	font-family: Ubuntu Mono;
	src: url(../fonts/ubuntu-font-family-0.83/UbuntuMono-R.ttf);
}

* {
	font-family: Ubuntu, sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

html {
	background: url(../images/tile.png), black;
	background-size: 109px 128px, cover;
	background-repeat: repeat;
	background-attachment: fixed;
}

::-moz-selection {
	color: black;
	background: white;
}

::selection {
	color: black;
	background: white;
}

h1 {
	font-family: 'Play', sans-serif;
	font-weight: 400;
	color: #405bbf;
}

h2 {
	font-family: 'Play', sans-serif;
	font-weight: 400;
	color: #405bbf;
}

a:link {
	text-shadow: none;
	color: #aaaaaa;
	transition-property: color, text-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

a:visited {
	color: #aaaaaa;
}

a:hover {
	color: white;
	text-shadow: 0 0 3px white;
}

ul, ol, li {
	color: #aaaaaa;
}

code {
	font-family: Ubuntu Mono, monospace;
	color: aqua;
}

#navbar {
	margin: 0px 0px auto 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: fixed;
	text-align: center;
	left: 0px;
	right: 0px;
	top: -32px;
	height: 33px;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 100;
	background-color: #000000;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-filter: drop-shadow(0px 0px 5px aqua);
	-moz-filter: drop-shadow(0px 0px 5px aqua);
	-ms-filter: drop-shadow(0px 0px 5px aqua);
	-o-filter: drop-shadow(0px 0px 5px aqua);
	filter: drop-shadow(0px 0px 5px aqua);
}

#navbar-left {
	height: 64px;
	width: auto;
	background: black;
	border-radius: 0px;
	float: left;
}

#navbar-curve {
	float: left;
}

#mypicture {
	float: left;
	color: white;
	width: 50px;
	height: 50px;
	margin-top: 7px;
	margin-left: 7px;
	margin-bottom: 8px;
	padding: 0px;
}

#backbutton {
	color: white;
	background: rgba(0, 0, 0, 0.8);
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 7px;
	margin-left: 7px;
	padding: 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 8px rgba(0, 255, 255, 0.8) inset;
	transition-property: box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#backbutton img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	transition-property: -webkit-filter, -moz-filter, -ms-filter, -o-filter, filter, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#backbutton:hover {
	box-shadow: 0px 0px 8px rgba(0, 255, 255, 1) inset;
}

#backbutton:active img {
	transform: scale(0.95);
	-webkit-filter: drop-shadow(0px 0px 6px aqua);
	-moz-filter: drop-shadow(0px 0px 6px aqua);
	-ms-filter: drop-shadow(0px 0px 6px aqua);
	-o-filter: drop-shadow(0px 0px 6px aqua);
	filter: drop-shadow(0px 0px 6px aqua);
}

#name, #name h1, #name h1 a {
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 24px;
	float: center;
	color: aqua;
	line-height: 32px;
	margin-top: 0px;
	margin-left: -128px;
}

#name a:link {
	text-decoration: none;
	text-shadow: none;
	color: aqua;
	transition-property: color, text-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

#name a:visited {
	text-decoration: none;
	color: aqua;
}

#name a:hover {
	color: white;
	text-shadow: 0 0 3px aqua;
}

@media (max-width: 750px) {
	#name * {
		display: none;
	}
}

footer {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 12px;
	width: 100%;
	z-index: 1;
	background-color: #000000;
	font-size: 11px;
	color: aqua;
	text-align: center;
	display: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	box-shadow: 0px 0px 8px aqua;
	/*
	-webkit-filter: drop-shadow(0px 0px 5px aqua);
	-moz-filter: drop-shadow(0px 0px 5px aqua);
	-ms-filter: drop-shadow(0px 0px 5px aqua);
	-o-filter: drop-shadow(0px 0px 5px aqua);
	filter: drop-shadow(0px 0px 5px aqua);
	*/
}

footer, footer a {
	font-family: 'Play', sans-serif;
}

footer a:link {
	text-decoration: none;
	text-shadow: none;
	color: aqua;
	transition-property: color, text-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

footer a:visited {
	text-decoration: none;
	color: aqua;
}

footer a:hover {
	color: white;
	text-shadow: 0 0 3px aqua;
}
