/* Stylesheet for Christopher Kyle Horton's main page */

#mainbody {
	min-width: 300px;
	margin: 0px auto 32px auto;
	padding: 85px 30px 20px 30px;
}

#mainbox {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 16px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 1.0);
	display: none;
	padding: 20px 70px 20px 70px;
	text-align: center;
	margin: 0px auto;
	max-width: 700px;
}

@media (max-width: 750px) {
	#mainbox {
		padding: 15px;
	}
}

#homescreen {
	/*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	border: rgba(255, 255, 255, 0.0);
	border-radius: 16px;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.0);
	overflow: hidden;*/

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#homescreen::before {
	z-index: -1;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 100%;
	height: 100%;

	background: radial-gradient(farthest-side, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)) no-repeat, url(../images/tile.png) repeat;
	background-size: cover, 109px 128px;
}

#homescreen>h1 {
	color: white;
	text-shadow: 0px 0px 8px black;
	font-family: Ubuntu Light, sans-serif;
	font-weight: normal;
	font-size: 2.5em;
}

h1, p {
	color: #aaaaaa;
	text-align: center;
}

#mainbody h1, #mainbody p {
	text-align: left;
}

.button {
	color: white;
	text-shadow: 0px 0px 3px black;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 16px;
	margin: 5px;
	padding: 5px;
	width: 128px;
	height: 128px;
	transition-property: background, border, box-shadow, text-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	float: left;
}

.button:hover {
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid white;
	color: white;
	box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
	text-shadow: 0px 0px 2px white;
}

.buttonbkg {
	position: relative;
	left: 0px;
	top: 0px;
	border-radius: 16px;
	width: 72px;
	height: 72px;
	line-height: 72px;
	margin: 0 auto;
}

.button > .buttonbkg {
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.button > .buttonbkg > img {
	position: absolute;
	left: 12px;
	top: 12px;
	width: 48px;
	height: 48px;
	vertical-align: middle;
	transition-property: -webkit-filter, -moz-filter, -ms-filter, -o-filter, filter;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.button > .buttonbkg > svg {
	-webkit-filter: drop-shadow(0px 0.15rem 0.5rem rgba(0, 0, 0, 0.8));
	-moz-filter: drop-shadow(0px 0.15rem 0.5rem rgba(0, 0, 0, 0.8));
	-ms-filter: drop-shadow(0px 0.15rem 0.5rem rgba(0, 0, 0, 0.8));
	-o-filter: drop-shadow(0px 0.15rem 0.5rem rgba(0, 0, 0, 0.8));
	filter: drop-shadow(0px 0.15rem 0.5rem rgba(0, 0, 0, 0.8));
	transition-property: -webkit-filter, -moz-filter, -ms-filter, -o-filter, filter;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.button:active > .buttonbkg {
	transform: scale(0.95);
}

.button:active > .buttonbkg > svg {
	-webkit-filter: drop-shadow(0px 0.1rem 0.25rem rgba(0, 0, 0, 0.8));
	-moz-filter: drop-shadow(0px 0.1rem 0.25rem rgba(0, 0, 0, 0.8));
	-ms-filter: drop-shadow(0px 0.1rem 0.25rem rgba(0, 0, 0, 0.8));
	-o-filter: drop-shadow(0px 0.1rem 0.25rem rgba(0, 0, 0, 0.8));
	filter: drop-shadow(0px 0.1rem 0.25rem rgba(0, 0, 0, 0.8));
}

.button:active > .buttonbkg > img {
	-webkit-filter: drop-shadow(0px 0px 0.25rem white);
	-moz-filter: drop-shadow(0px 0px 0.25rem white);
	-ms-filter: drop-shadow(0px 0px 0.25rem white);
	-o-filter: drop-shadow(0px 0px 0.25rem white);
	filter: drop-shadow(0px 0px 0.25rem white);
}

.categorybuttons {
	overflow: auto;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	box-shadow: 0px 0.15rem 0.5rem rgba(0, 0, 0, 0.5) inset;
	display: none;
}

.categoryheader {
	background: none;
	border-radius: 0.25em;
	width: 100%;
	padding: 0.25em;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	display: none;
}

.categoryheader:hover {
	background: rgba(255, 255, 255, 0.25);
}

.categoryheadertext {
	text-align: left;
	font-family: 'Cantarell', sans-serif;
	font-weight: 400;
	font-size: 2em;
	text-shadow: 0px 0px 3px black;
	color: white;
}

img.categorychevron {
	width: 1.5em;
	height: 1.5em;
	float: left;
	margin-top: 0.5em;
	-webkit-filter: drop-shadow(0px 0px 2px black);
	-moz-filter: drop-shadow(0px 0px 2px black);
	-ms-filter: drop-shadow(0px 0px 2px black);
	-o-filter: drop-shadow(0px 0px 2px black);
	filter: drop-shadow(0px 0px 2px black);
	transition: transform 0.2s ease-out 0.0s;
}

.rotated {
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* Some formatting for specific sections */

#aboutme, #bugfixes, #links, #resumebody {
	display: none;
	color: #aaaaaa;
}

#aboutme p, #bugfixes p, #bugfixes h2, #bugfixes ul, #bugfixes li, #links p, #links h2, #links ul, #links li {
	color: #aaaaaa;
	text-align: left;
}

#resumebody p {
	color: #aaaaaa;
	text-align: center;
}

#aboutme h1, #aboutme h2, #bugfixes h1, #links h1, #resumebody h1, #resumebody h2 {
	font-family: 'Cantarell', sans-serif;
	font-weight: 400;
	color: #aaaaaa;
	text-align: center;
}

#bugfixes li, #links li {
	margin: 0 0 0.5em 0;
}

/* Personal Projects */

#projectsheader {
	display: none;
}

.projectbox {
	display: none;
}

div.picture {
	text-align: center;
}

div.picture > img {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
	border-radius: 16px;
	width: 100%;
	height: auto;
}

h1, h2, p {
	color: #aaaaaa;
}

div.description h2 {
	text-align: left;
}

div.description li {
	text-align: left;
}

#backgroundthumbnail {
	width: 50%;
	height: 50%;
	border-radius: 8px;
}
