/* Stylesheet for Christopher Kyle Horton's main page */

#mainbody {
	min-width: 300px;
	margin: 65px auto 32px auto;
	padding: 20px 30px 20px 30px;
}

#mainbox {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 16px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 1.0);
	display: none;
	padding: 20px 70px 20px 70px;
	text-align: center;
	margin: 0px auto;
	max-width: 700px;
}

#homescreen {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

h1, p {
	color: #aaaaaa;
	text-align: center;
}

#mainbody h1, #mainbody p {
	text-align: left;
}

.button {
	color: white;
	text-shadow: 0px 0px 3px black;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 16px;
	margin: 5px;
	padding: 10px;
	width: 128px;
	height: 128px;
	transition-property: background, border, box-shadow, text-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	float: left;
}

.button:hover {
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid white;
	color: white;
	box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
	text-shadow: 0px 0px 2px white;
}

.buttonbkg {
	border-radius: 16px;
	width: 72px;
	height: 72px;
	line-height: 72px;
	margin: 0 auto;
}

.button > .buttonbkg {
	box-shadow: none;
	transition-property: box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.button > .buttonbkg > img {
	transition-property: -webkit-filter, -moz-filter, -ms-filter, -o-filter, filter, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.button:active > .buttonbkg {
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8) inset;
}

.button:active > .buttonbkg > img {
	transform: scale(0.95);
	-webkit-filter: drop-shadow(0px 0px 3px white);
	-moz-filter: drop-shadow(0px 0px 3px white);
	-ms-filter: drop-shadow(0px 0px 3px white);
	-o-filter: drop-shadow(0px 0px 3px white);
	filter: drop-shadow(0px 0px 3px white);
}

#mainbuttons {
	overflow: auto;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 1em;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5) inset;
}

.categoryheader {
	background: none;
	border-radius: 0.25em;
	width: 100%;
	padding: 0.25em;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.categoryheader:hover {
	background: rgba(255, 255, 255, 0.25);
}

.categoryheadertext {
	text-align: left;
	font-family: Ubuntu Light, sans-serif;
	font-weight: normal;
	font-size: 2em;
	text-shadow: 0px 0px 3px black;
	color: white;
}

img.categorychevron {
	width: 1.5em;
	height: 1.5em;
	float: left;
	margin-top: 0.5em;
	-webkit-filter: drop-shadow(0px 0px 3px black);
	-moz-filter: drop-shadow(0px 0px 3px black);
	-ms-filter: drop-shadow(0px 0px 3px black);
	-o-filter: drop-shadow(0px 0px 3px black);
	filter: drop-shadow(0px 0px 3px black);
}

#backbutton {
	display: none;
	color: #aaaaaa;
	text-align: center;
	border: 1px solid #aaaaaa;
	border-radius: 16px;
	margin: 0 auto;
	padding: 10px;
	transition-property: background, color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#backbutton:hover {
	background: white;
	color: black;
	box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
}

/* Some formatting for specific sections */

#aboutme, #bugfixes, #links, #resumebody {
	display: none;
	color: #aaaaaa;
}

#aboutme p, #bugfixes p, #bugfixes h2, #bugfixes ul, #bugfixes li, #links p, #links h2, #links ul, #links li {
	color: #aaaaaa;
	text-align: left;
}

#resumebody p {
	color: #aaaaaa;
	text-align: center;
}

#aboutme h1, #aboutme h2, #bugfixes h1, #links h1, #resumebody h1, #resumebody h2 {
	color: #aaaaaa;
	text-align: center;
}

#bugfixes li, #links li {
	margin: 0 0 0.5em 0;
}

/* Personal Projects */

#projectsheader {
	display: none;
}

.projectbox {
	display: none;
}

div.projectbox {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 16px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
	padding: 20px 70px 20px 70px;
	margin: 10px auto 10px auto;
	max-width: 700px;
}

div.picture {
	float: left;
	height: 100%;
}

div.picture > img {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
	border-radius: 16px;
	width: 128px;
	height: auto;
}

div.description {
	margin-left: 188px;
}

h1, h2, p {
	color: #aaaaaa;
}

div.projectboxcontents {
	display: none;
}

#backgroundthumbnail {
	width: 50%;
	height: 50%;
	border-radius: 8px;
}

/* Recent blog posts widget styling */

#hlrpsb {
	z-index: 50;
	float: right;
	background-color: #000000;
	border-radius: 0px 0px 16px 16px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
	display: none;
	padding: 20px;
	position: absolute;
	top: 32px;
	right: 0px;
}

.navbaritem img {
	height: 32px;
	width: 32px;
	margin-top: 16px;
	margin-right: 0px;
	opacity: 0.5;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.navbaritem:hover img {
	opacity: 1.0;
}

.bbrecpost2 {
	padding-bottom:6px;
}

#blogwidgetlink {
	text-align: right;
	opacity:0.5;
}
